body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.2em;
}

.container {
  max-width: 400px;
}

.icon {
  border-radius: 50%;
  position: relative;
  margin-top: -20px;
}

.card {
  max-width: 400px;
  margin: 0 auto;
}
